package ${packageMap.controller};

#if($model.springModel)
import org.springframework.stereotype.Controller;
import org.springframework.beans.factory.annotation.Autowired;
#end
import ${packageMap.service}.${fileNameMap.service};

/**
 * (${table.tableName})表  控制层
 * @author ${author}
 * @date  ${date}
 */
#if($model.springModel)
@Controller
@RequestMapping("/$table.className")
#end
public class ${fileNameMap.controller}{

    /**
     * 服务层对象
     */
#if($model.springModel)
    @Autowired
#end
    private ${fileNameMap.service} ${NameUtils.initialLowercase(${fileNameMap.service})};
}