package ${parentPackage}#if(${parentPackage} != "").#end${config.packageName};

#if($model.springModel)
import org.springframework.stereotype.Controller;
import org.springframework.beans.factory.annotation.Autowired;
#end
import ${parentPackage}#if(${parentPackage} != "").#end${configMap.service.packageName}.$configMap.service.fileName.replace('$', $table.className);

/**
 * (${table.tableName})表  控制层
 * @author ${author}
 * @date  ${date}
 */
#if($model.springModel)
@Controller
@RequestMapping("/$table.tableName")
#end
public class $config.fileName.replace('$', $table.className){

    /**
     * 服务层对象
     */
#if($model.springModel)
    @Autowired
#end
    private $configMap.service.fileName.replace('$', $table.className) ${NameUtils.initialLowercase($configMap.service.fileName.replace('$', $table.className))};
}