package ${packageMap.serviceImpl};

#if($model.springModel)
import org.springframework.stereotype.Service;
import org.springframework.beans.factory.annotation.Autowired;
#end
import ${packageMap.service}.${fileNameMap.service};
import ${packageMap.dao}.${fileNameMap.dao};
import ${packageMap.entity}.${fileNameMap.entity};
#if($model.mybatisPlusModel)
import com.baomidou.mybatisplus.extension.service.impl.ServiceImpl;
#end

/**
 * (${table.tableName})表  业务层
 * @author ${author}
 * @date ${date}
 */
#if($model.springModel)
@Service
#end
#if($model.mybatisPlusModel)
public class ${fileNameMap.serviceImpl} extends ServiceImpl<${fileNameMap.dao}, ${fileNameMap.entity}>{

}
#else
public class ${fileNameMap.serviceImpl}{

#if($model.springModel)
    @Autowired
#end
    private ${fileNameMap.dao} ${NameUtils.initialLowercase(${fileNameMap.dao})};


    public ${fileNameMap.entity} getById(${table.primary.javaType.getSimpleName()} id){
        return ${NameUtils.initialLowercase(${fileNameMap.dao})}.selectById(id);
    }


    public int insertOne(${fileNameMap.entity} ${NameUtils.initialLowercase(${fileNameMap.entity})}){
        return ${NameUtils.initialLowercase(${fileNameMap.dao})}.insertOne(${NameUtils.initialLowercase(${fileNameMap.entity})});
    }


    public int updateById(${fileNameMap.entity} ${NameUtils.initialLowercase(${fileNameMap.entity})}){
        return ${NameUtils.initialLowercase(${fileNameMap.dao})}.updateById(${NameUtils.initialLowercase(${fileNameMap.entity})});
    }


    public int deleteById(${table.primary.javaType.getSimpleName()} id){
        return ${NameUtils.initialLowercase(${fileNameMap.dao})}.deleteById(id);
    }

}
#end